# All platforms
*.log

# Linux - Makefile
/.build/
*.exe

# VS Code
.vscode/

# Vcpkg
vcpkg_installed/

# Windows - Visual Studio
Temporary/
Release/
Debug/
x64/
.vs/
*.user
/proj/vs2019/packages
/OPHD/*.aps

# MacOS
*.DS_Store
*.framework
/Build/
/xcode/OutpostHD.xcodeproj/xcuserdata/
/xcode/OutpostHD.xcodeproj/project.xcworkspace/xcuserdata/
