version: 2.1

commands:
  brew-install:
    description: "Brew install MacOS dependencies (or restore from cache)"
    steps:
      - run: make --directory nas2d-core/ install-dependencies
  build:
    steps:
      - run: make --keep-going --jobs 16 CXXFLAGS_EXTRA="-Werror" nas2d
      - run: make --keep-going --jobs 16 CXXFLAGS_EXTRA="-Werror"
      - run: make package
      - store_artifacts:
          path: .build/package/

jobs:
  build-macos:
    macos:
      xcode: "12.5.0"
    environment:
      - HOMEBREW_NO_AUTO_UPDATE: 1
      - WARN_EXTRA: "-Wno-double-promotion"
    steps:
      - checkout
      - run: git submodule update --init nas2d-core/
      - brew-install
      - build
  build-linux-gcc:
    docker:
      - image: outpostuniverse/nas2d-gcc:1.3
    environment:
      WARN_EXTRA: -Wsuggest-override
    steps:
      - checkout
      - run: git submodule update --init nas2d-core/
      - build
  build-linux-clang:
    docker:
      - image: outpostuniverse/nas2d-clang:1.2
    environment:
      WARN_EXTRA: -Wimplicit-int-conversion -Wunreachable-code -Wunreachable-code-return -Wunreachable-code-break -Wextra-semi-stmt -Wnewline-eof -Wdocumentation -Wheader-hygiene -Winconsistent-missing-destructor-override -Wdeprecated-copy-dtor -Wformat-nonliteral
    steps:
      - checkout
      - run: git submodule update --init nas2d-core/
      - build
  build-linux-mingw:
    docker:
      - image: outpostuniverse/nas2d-mingw:1.7
    steps:
      - checkout
      - run: git submodule update --init nas2d-core/
      - run: make --keep-going --jobs 16 CXXFLAGS_EXTRA="-Werror" intermediate

workflows:
  build:
    jobs:
      - build-macos
      - build-linux-gcc
      - build-linux-clang
      - build-linux-mingw
