name: Build

on:
  push:
  workflow_dispatch:

jobs:
  windows:
    strategy:
      fail-fast: false
      matrix:
        platform: [x86, x64]
    runs-on: windows-2025
    env:
      Platform: ${{ matrix.platform }}
      Configuration: Release
      VcpkgManifestInstall: false

    steps:
    - uses: actions/checkout@v4

    - name: Checkout NAS2D
      run: git submodule update --init nas2d-core/

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.3.2

    - name: Integrate vcpkg
      run: |
        vcpkg --version
        vcpkg integrate install

    - name: Set SHA env vars
      shell: bash
      run: |
        vcpkgSha="${{ hashFiles('vcpkg.json') }}"
        nas2dSha="$(git submodule status -- nas2d-core/ | awk '{print $1}')"
        ophdSha="${{ github.sha }}"

        config="${{ runner.os }}-${{ matrix.platform }}"
        cacheKeyPrefixOphd="ophd-${config}-${vcpkgSha::8}-${nas2dSha::8}-"

        cacheKeyVcpkg="vcpkg-${config}-${vcpkgSha::8}"
        cacheKeyNas2d="nas2d-${config}-${vcpkgSha::8}-${nas2dSha::8}"
        cacheKeyOphd="${cacheKeyPrefixOphd}${ophdSha::8}"

        echo "cacheKeyVcpkg=${cacheKeyVcpkg}" >> $GITHUB_ENV
        echo "cacheKeyNas2d=${cacheKeyNas2d}" >> $GITHUB_ENV
        echo "cacheKeyOphd=${cacheKeyOphd}" >> $GITHUB_ENV
        echo "cacheKeyPrefixOphd=${cacheKeyPrefixOphd}" >> $GITHUB_ENV

    - name: Restore vcpkg dependency cache
      uses: actions/cache/restore@v4
      id: cacheRestoreVcpkg
      with:
        path: vcpkg_installed
        key: ${{ env.cacheKeyVcpkg }}

    - name: Install vcpkg dependencies - OPHD
      if: steps.cacheRestoreVcpkg.outputs.cache-hit != 'true'
      env:
        VcpkgManifestInstall: true
      run: |
        msbuild . /target:appOPHD:VcpkgInstallManifestDependencies

    - name: Save vcpkg dependency cache
      uses: actions/cache/save@v4
      if: steps.cacheRestoreVcpkg.outputs.cache-hit != 'true'
      with:
        path: vcpkg_installed
        key: ${{ env.cacheKeyVcpkg }}

    - name: Copy vcpkg cache to NAS2D folder
      run: |
        xcopy vcpkg_installed nas2d-core\vcpkg_installed\ /s /e

    - name: Install vcpkg dependencies - NAS2D
      if: steps.cacheRestoreVcpkg.outputs.cache-hit != 'true'
      working-directory: nas2d-core
      env:
        VcpkgManifestInstall: true
      run: |
        msbuild . /target:NAS2D:VcpkgInstallManifestDependencies

    - name: Set NAS2D modification time
      shell: bash
      run: |
        # Set last modification times to that of last build's committer time
        # The committer time should pre-date any cached output modification time
        commitTime=$(git -C nas2d-core/ log -1 --format="%cI")
        echo "commitTime=${commitTime}"
        find nas2d-core/ -type f -exec touch -d "${commitTime}" '{}' +

    - name: Restore NAS2D cache
      uses: actions/cache/restore@v4
      id: cacheRestoreNas2d
      if: steps.cacheRestoreVcpkg.outputs.cache-hit == 'true'
      with:
        path: nas2d-core/.build/
        key: ${{ env.cacheKeyNas2d }}

    - name: Build NAS2D
      run: |
        msbuild . /maxCpuCount /warnAsError /property:RunCodeAnalysis=true /target:NAS2D

    - name: Save build cache - NAS2D
      uses: actions/cache/save@v4
      if: steps.cacheRestoreNas2d.outputs.cache-hit != 'true'
      with:
        path: nas2d-core/.build/
        key: ${{ env.cacheKeyNas2d }}

    - name: Restore incremental build cache
      uses: actions/cache/restore@v4
      id: cacheRestoreOphd
      if: steps.cacheRestoreNas2d.outputs.cache-hit == 'true' && github.ref != format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        path: .build
        key: ${{ env.cacheKeyOphd }}
        restore-keys: ${{ env.cacheKeyPrefixOphd }}

    - name: Set modification times
      if: ${{ hashFiles('.build/lastBuildSha.txt') != '' }}
      shell: bash
      run: |
          # Determine SHA of last cached build (ignore cache if not marked)
          lastBuildSha=$(<.build/lastBuildSha.txt) || exit 0
          echo "Last build SHA: ${lastBuildSha}"

          # Fetch source code for last build
          # (exit successfully if not found, cache will be ignored)
          git fetch --depth=1 origin "${lastBuildSha}" || exit 0
          git switch --detach "${lastBuildSha}"

          # Set last modification times to that of last build's committer time
          # The committer time should pre-date any cached output modification time
          commitTime=$(git log -1 --format="%cI")
          echo "commitTime=${commitTime}"
          find . -type f -exec touch -d "${commitTime}" '{}' +

          # Re-check out current branch, which updates last modification times of modified files
          git switch -

    - name: Set build SHA
      shell: bash
      run: |
          # Save copy of current SHA to be cached, and used for reference in future builds
          mkdir --parents .build/
          echo "${{ github.sha }}" > .build/lastBuildSha.txt

    - name: Build OPHD
      run: |
        msbuild . /maxCpuCount /warnAsError /property:RunCodeAnalysis=true

    - name: Save incremental build cache - OPHD
      uses: actions/cache/save@v4
      if: steps.cacheRestoreOphd.outputs.cache-hit != 'true'
      with:
        path: .build
        key: ${{ env.cacheKeyOphd }}

    - name: Run libOPHD unit tests
      run: .build/${{env.Configuration}}_${{env.Platform}}_testLibOPHD/testLibOPHD.exe

    - name: Run libControls unit tests
      run: .build/${{env.Configuration}}_${{env.Platform}}_testLibControls/testLibControls.exe
